
*.csv
Report Project2/.vs/Report Project2/FileContentIndex/0d9384bf-378c-492d-b425-097b187408f2.vsidx
*.vsidx
*.data
*.sln
/Report Project2/.vs/Report Project2/v17
/Report Project2/.vs/Report Project2/FileContentIndex
/Report Project2/.vs/Report Project2/FileContentIndex
*.vsidx
*.vsidx
/Report Project2
/Report Project2
/Report Project2
/Report Project2
/Report Project2
/Report Project2/bin/DebugLocal
/Report Project2/bin/DebugLocal
/Report Project2/bin/DebugLocal
/Report Project2/bin/DebugLocal
Report Project2/Report1.rdl.data
Report Project2/Report1.rdl
Report Project2/Report Project2.sln
Report Project2/Report Project2.rptproj.rsuser
Report Project2/Report Project2.rptproj
Report Project2/DataSource1.rds
Report Project2/DataSet1.rsd
Report Project2/bin/DebugLocal/DataSource1.rds
Report Project2/bin/DebugLocal/DataSet1.rsd
Report Project2/.vs/Report Project2/FileContentIndex/0d9384bf-378c-492d-b425-097b187408f2.vsidx
Report Project2/.vs/Report Project2/FileContentIndex/216144ef-61f9-432a-8ed6-487ebef9e36a.vsidx
Report Project2/.vs/Report Project2/FileContentIndex/35bc0d89-79cd-4758-ac5a-11ef196f28a8.vsidx
Report Project2/.vs/Report Project2/FileContentIndex/95425ca6-2090-4b2e-9c6f-031bcdb2e115.vsidx
Report Project2/.vs/Report Project2/FileContentIndex/95425ca6-2090-4b2e-9c6f-031bcdb2e115.vsidx
Report Project2/.vs/Report Project2/FileContentIndex/a20e7c62-8de2-4a64-ac42-20939366a694.vsidx
Report Project2/.vs/Report Project2/v17/.suo
Report Project2/.vs/Report Project2/v17/DocumentLayout.json
Report Project2/ANALYSIS.rdl.data
Report Project2/bin/Debug/ANALYSIS.rdl
Report Project2/bin/Debug/build.obj
